
.animationProfileButton {
    display: block;
    width: 100%;
    height: 50px;
    max-width: 200px;
    line-height: 50px;
    position: relative;
    top: -160px;  
    left: 0px;
    margin: 50px 0;
    animation: fadeInAnimation 1s 1.8s backwards;
    white-space: nowrap;
    color:#767676;
    font-family: Arial, Helvetica, sans-serif;
    cursor:pointer;
}
  @media screen and (max-width: 676px) {
  .animationProfileButton {
    position: relative;
    top: -125px;
    left: -108px;
  }
  }

.animationProfileButton div {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 0 15px 0 15px;
  }
  
  .animationProfileButton span.bg {
    width: 0%;
    height: 100%;
    position: absolute;
    left: -5%;
    top: 0;
    transform: skewX(-10deg);
    transition: all 0.3s linear;
  }
  
  .animationProfileButton:hover span.bg {
    background: var(--color-tem);
    width: 110%;
    border-radius: 0 15px 0 15px;
  }
  
  .animationProfileButton span.base {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 15px 0 15px;
    border: 1px solid var(--color-tem);
  }
  
  .animationProfileButton span.text {
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
  }
  
  .animationProfileButton:hover span.text {
    color: #808090;
  }
