.logoAnimationContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  animation: fadeIn 3s linear;

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  // animation: fadeIn 10s linear;


  .imgAnimation {
    width: 500px;
    height: 600px;
    position: relative;
    top: -590px;
    left: 730px;
    transform: rotateZ(31deg) !important;

    @media screen and (min-width: 1900px) {
      .imgAnimation {
        width: 600px;
        height: 700px;
        position: relative;
        top: -650px;
        left: 2000px;
        transform: rotateZ(30.5deg) !important;
    }
    }
}

@media screen and (min-width: 1700px) {
  .imgAnimation {
    width: 600px;
    height: 700px;
    position: relative;
    top: -650px;
    left: 800px;
    transform: rotateZ(30.5deg) !important;
}
}


@media screen and (max-width: 1400px) {
  .imgAnimation {
    width: 450px;
    height: 550px;
    position: relative;
    top: -570px;
    left: 700px;
    transform: rotateZ(31.5deg) !important;
}
}


  }
  .solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    left: 0;
    width: 100%;
    opacity: 0.4;
    z-index: 1;
  }


.logo-container {
  stroke: var(--color-tem);
  stroke-width: 1;
}

@media screen and (max-width: 1300px) {
  .logoAnimationContainer {
   display: none;
  }
}


