.navBarButtons {
  position: relative;
  top: 120px;
  left: 850px;
}

@media screen and (max-width: 1300px) {
  .navBarButtons {
    position: relative;
  top: 120px;
  left: 500px;

  }
}

@media screen and (max-width: 945px) {
  .navBarButtons {
    position: relative;
  top: 200px;
  left: 220px;

  }
}

@media screen and (max-width: 600px) {
  .navBarButtons {
    display: inline;
    position: relative;
  top: 200px;
  left: 220px;

  }
}